@font-face {
	font-family: Quicksand;
	src: url(Quicksand-Regular.ttf) format('truetype');
}

@font-face {
	font-family: SemiCoder;
	src: url(Semi-Coder-Regular.otf) format('opentype');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand';
    background-image: url(../images/wbg.png);
    color: #424242;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 1.1em;
}

header {
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 5px;
}

nav button {
    font-family: 'SemiCoder';
    text-decoration: none;
    color: inherit;
    font-size: 1em;
    background: none;
    border: none;
    color: inherit;
    padding: 1em 0.5em;
    cursor: pointer;
    float: left;
    text-align:center;
    width: 8em;
}

nav button:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    display: -ms-grid;
	display: grid;
	width: 100%;
	grid-auto-columns: 1fr;
	grid-column-gap: 0;
	grid-row-gap: 20px;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows: auto auto;
	grid-template-rows: auto auto;
	justify-items: center;
}

.current-link::before {
    content: "@";
}

.onetab {
	display: none;
	position: relative;
    padding: 5px 25px 10px 25px;
    margin-top: 50px;
    background-color: RGBA(255,255,255,50%);
    border: #bebebe solid 1px;
    width: 750px;
    max-width: 750px;
    text-align: left;
}

h2, h3 {
    text-align: center;
    padding: 20px 0px 20px 0px;
}

h3 {
    background: -webkit-linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    font-family: 'SemiCoder';
}

p {
    margin: 10px;
}

.tab-active {
	display: block;
}

.dark-mode {
    background-image: url(../images/bbg.png);
    color: rgb(152, 43, 81);
}

.dark-card {
    background-color: RGBA(0,0,0,50%);
    border: #0b0b0b solid 1px;
}

.ico {
    height: 23px;
    max-width: 23px;
}

.contmenu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.contitem {
    margin: 0.3em;
    border: solid 2px transparent;
}

.contitem:hover {
    border: dotted 2px rgb(255, 174, 228);
}

.contwindow {
    display: none;
    flex-direction: column;
}

.contwindow image, img {
    max-width: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

.caption {
    font-size: 1.3em;
    text-align: center;
    color: white;
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.imgrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 100%;
}

.imgcolumn {
    flex: 25%;
    max-width: 35%;
    padding: 0 4px;
    flex-direction: row;
}
  
.imgcolumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
}

.card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 5px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 1px;
    -o-object-fit: cover;
    object-fit: cover;
    width: inherit;
}

.card-image {
    position: relative;
    display: block;
    width: 12em;
    height: 9em;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color:  transparent rgb(255, 223, 251);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0px;
  }


 /* @media only screen and (max-width: 600px) {
    smth {
        dsf
    }
  } */

@media only screen and (max-width: 800px){
    .modal-content {
        width: 100%;
    }
    .imgcolumn {
        flex: 50%;
        max-width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .imgcolumn {
        flex: 100%;
        max-width: 100%;
    }
}