@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Century Gothic Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Century Gothic Regular'), url('GOTHIC.woff') format('woff');
}
body {
	margin: 0;
	font-family: 'Century Gothic Regular';
	background: url("img/stars.png") center repeat-y, url("img/bg.png") repeat;
}
.container {
	display: flex;  
	flex-flow: row wrap;
	font-weight: normal;
	text-align: center;
}
.container > * {
	flex: 1 100%;
}
.header {
	order: 1;
	height: 100%;
}
.pagecontent {
	flex-flow: row wrap;
	order: 3;
	display: flex;
	max-width: 800px;
	margin: 0 auto;
}
.navigate {
	order: 1;
	width: 800px;
	display: flex;
	height: 50px;
	margin-bottom: 35px;
	justify-content: space-evenly;
}
.search {
	order: 2;
	height: 50px;
	width: 800px;
	background: #C9AF95;
	margin-bottom: 70px;
	display: flex;
	align-items: center;
}
.search input {
	height: inherit;
	width: inherit;
	background: none;
	color: #3F3E3E;
	border: none;
	font-size: 18px;
}
.navblock {
	height: inherit;
	background: none;
	display: flex;
}
.navblock button {
	border: none;
	background: none;
	height: inherit;
	width: inherit;
	font-size: 18px;
	padding: 0px;
}
.navigate a {
	text-decoration: none;
	font-family: 'Century Gothic Regular';
	color: #FFE6C7;
}
.navblock a:hover {
	color: #D35F00;
}
.main {
	background: #C9AF95;
	order: 2;
	width: 100%;
	float: right;
	min-height: 500px;
	border: #FFE6C7 25px solid;
}
.footer {
	order: 3;
	color: #FFE6C7;
}
@media all and (max-width: 950px) {
	.pagecontent { flex-direction: column; }
	.main { width: inherit ;order: 2; }
	.icon { max-height: 200px; max-width: 200px; margin: 10px auto;}
}
.icon {
	height: 480px;
	width: 480px;
	float: center;
	margin: 60px auto;
}
.blocks {
	text-align: left;
	padding: 10px;
	margin-bottom: 50px;
}
.block img {
	border: 2px solid black;
}
.time {
	float: right;
	font-style: italic;
}
